footer{
    font-style: none;
    font-family: "Lato", serif;
    display: flex;
    align-items: center;
    font-size: small;
    background-color: rgba(35, 35, 35);
    justify-content: space-between;
    padding: 0 50px 0 50px;
}

footer .subtitle-footer{
    color: rgb(255, 255, 255);
    font-size: medium;
    font-weight: 700;
    margin-bottom: 10px;
}

footer p{
    color: rgb(255, 255, 255);
}

footer .copyright{
    display: flex;
    color: rgba(255, 255, 255);
}
footer .contact{
    display: block;
}

footer .contact svg{
    width: 2.5em;
}

footer .contact svg g{
    fill: rgb(150, 150, 150);
}

.whatsapp-icon p{
    display: inline;
}

.whatsapp-icon{
    align-items: center;
}

footer .social{
    display: block;
}

footer .social svg{
    width: 2.5em;
}

footer .social svg g{
    fill: rgb(150, 150, 150);
}