footer{
    font-style: none;
    display: flex;
    font-size: small;
    height: 75px;
    background-color: rgba(35, 35, 35);
    justify-content: space-around;
}

footer .copyright{
    display: flex;
    align-items: center;
    color: rgba(255, 255, 255);
}
footer .contact{
    display: block;
    color: rgb(255, 255, 255);
}