*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: auto;
    max-width: 1200px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

.icon-cart{
    width: 40px;
}

img{
    max-width: 100%;
}

.espy-logo{
    width: 35%;

}

header{
    display: flex;
    justify-content: space-between;
    padding: 10px 20px ;
}


.container-items{
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 20px;
}


.item{
    border-radius: 10px;
    background-color: #000; 
}

.item.hover{
    box-shadow: 0 10px 20px rgba(0, 0, 0, .2);
}

.info-product{
    padding: 15px 30px;
}

.item img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.item figure{
    overflow: hidden;
}

.item:hover img{
    transform: scale(1.2);
}