@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "Lato", serif;
}

header{
    width: 100%;
    height: auto;
    background-color: rgb(35, 35, 35);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
}

body{
    background-color: rgb(255, 255, 255);
    height: 100%;
}

.container{
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.marca-logo img{
    width: 5rem;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: .1;
}

.menu{
    display:flex;
    gap: 1rem;
    align-items: center;
    padding: 0;
}

.menu li{
    text-decoration: none;
    font-size: 1rem;
    font-style: none;
    list-style: none;
}

.menu a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: 700;
    transition: color 0.3s ease;
}

.menu a:hover{
    text-decoration: underline 2px;
    color: rgb(234, 190, 63);
}

.menu-marcas{
    display: none;
    position: absolute;
    background-color: rgb(35, 35, 35);
    border-color: rgb(0, 0, 0);
    padding: 1.5rem 1rem;
}

.menu-marcas li a{
    display: block;
    color: rgb(255, 255, 255);
    padding: 1em 0em;
    transition: color 0.3s ease;
}

.menu-marcas li a:hover{
    color: rgb(234, 190, 63);
}

.menu-item:hover .menu-marcas{
    display: block;
}

.menu-item{
    position: relative;
}

.cart-icon svg{
    width: 25px;
    fill: rgb(255, 255, 255);
}