@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Poppins", sans-serif;
    color: rgb(50, 50, 50);
    background-color: rgb(241, 241, 241);
}

nav {
    position: relative;
    z-index: 10;
    left: 0;
    right: 0;
    top: 0;
    padding: 0 5%;
    background-color: black;
    font-family: "Poppins", sans-serif;
}

nav .list {
    float: center;
    padding: 0;
    margin: 0;
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .list li {
    list-style: none;
}

nav .list a {
    display: flex;
    padding: .5em;
    text-decoration: none;
    color: white;
}

nav .list a:hover {
    background-color: rgb(20, 20, 20);
    border-radius: 1em;
}

.icon-cart {
    width: 2.5em;
}

img {
    max-width: 100%;
}

.espy-logo {
    width: 35%;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px ;
}


.container-items {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 1.5em;
}


.item {
    border-radius: .5em;
}

.item:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, .2);
}


.item img {
    width: 100%;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
    transition: all .3s;
}

.item figure {
    overflow: hidden;
    border-radius: .5em .5em 0 0;
}

.item:hover img {
    transform: scale(1.1);
}

.info-product {
    padding: 1em;
    line-height: 1.3;
    display: flex;
    flex-direction: column;
    gap: 1em;
}


.info-product button {
    border: none;
    background: none;
    background-color: rgba(0, 0, 0, .9);
    padding: 5%;
    color: rgba(255, 255, 255, 1);
    border-radius: 10px;
    cursor: pointer;
}

.product-title {
    font-weight: 550;
    font-size: 100%;
}

.price {
    font-size: 18px;
    font-weight: 700;
}